resources/bluespice.flaggedRevsConnector.js
resources/bluespice.flaggedRevsConnector.pageassignmentintegration.js
resources/BS.FlaggedRevsConnector/dialog/Review.js
resources/BS.FlaggedRevsConnector/flyout/Base.js
resources/BS.FlaggedRevsConnector/grid/FlaggedPages.js